[2014-11-18 16:45] nathenharvey opened #1 "Write Code of Conduct"

[2014-11-18 16:48] nathenharvey opened #2 "Publish date for the conferece"
Select and publish a date for the conference.

Conferences to avoid:

* ChefConf - March 31 - April 2 (Santa Clara)
* PyCon - April 8-16 (Montreal)
* Great Wide Open - April 15-17 (Atlanta)
* PowerShell Summit - April 20-22 (Raleigh)
* Interop - April 27 - May 1 (Vegas)
* GalaxZ - May 4-7 (Austin)
* Cisco Live - June 7-11 (San Diego)
* Monitorama - Week of June 15
* Surge - September 23-25
* Postg

[2014-11-18 16:49] nathenharvey opened #3 "Schedule next organizers meeting"

[2014-11-18 16:49] nathenharvey opened #4 "Hold kick-off meeting"
1.  List of people on the organizing committee
2.  Target dates for the event
3.  Target locations for the event
4.  Target companies to approach for sponsorship
5.  Some ideas about content
6.  Logo ideas
7.  Date, time, and location for next meeting

[2014-11-18 16:54] nathenharvey opened #5 "Publish location for the conference"

[2014-11-18 16:54] nathenharvey opened #6 "Publish sponsorship levels"

[2014-11-18 16:54] nathenharvey opened #7 "Publish registration page"

[2014-11-18 16:55] nathenharvey opened #8 "Publish CFP"

[2014-11-18 16:55] nathenharvey opened #9 "Publish schedule"

[2014-11-18 16:55] nathenharvey opened #10 "Identify Organizing Committee"

[2014-11-18 16:55] nathenharvey opened #11 "Identify Volunteers"

[2014-11-18 16:56] nathenharvey opened #12 "Design and Publish Logo"

[2014-11-18 16:57] nathenharvey opened #13 "Identify potential sponsors"
http://washington.startups-list.com/

[2014-11-18 17:03] nathenharvey opened #14 "Fill key roles"
* Conference Co-chairs -
* Talk Proposals & Speaker Coordinator -
* Ignite Proposals & Facilitator -
* Website Updates -
* Sponsors -
* Registration, invoicing, etc. -
* Venue & Catering -
* Hotel Block -
* T-Shirts, stickers, and signage -
* Evening Event -

[2014-11-18 17:12] nathenharvey opened #15 "Select target dates"
Decide on 3-5 weeks to target for DevOpsDaysDC

[2014-11-18 17:13] nathenharvey opened #16 "List location requirements"

[2014-11-18 17:15] nathenharvey opened #17 "List content ideas"
* Keynotes
* Ignites
* What should we encourage people to discuss?

[2014-11-19 16:42] #4 closed, assigned to nathenharvey

[2014-11-19 16:42] #16 closed, assigned to nobody

[2014-11-19 16:42] #3 closed, assigned to nathenharvey

[2015-02-10 17:55] #10 closed

[2015-02-10 17:55] #15 closed

[2015-02-10 17:55] #17 closed

[2015-02-11 00:49] markcornick commented on #12
Now that the site has actual useful information on it, this would be a good time to revisit the logo question. Unfortunately the image on Tom's link above seems to be broken.

[2015-03-05 17:10] markcornick opened #18 "Proposals Page"
Create proposals page for website when we are ready to open CFP.

[2015-03-05 17:11] markcornick opened #19 "Registration Page"
Create registration page with link to BusyConf and explanatory information. Depending on how BusyConf works, this could be a link directly to them, or our own page.

[2015-03-05 17:12] markcornick opened #20 "Program Page"
When the program is set, publish it.

[2015-03-05 17:12] markcornick commented on #18
blocks #20

[2015-03-05 17:13] markcornick opened #21 "Sponsor Logos on Sidebar"
As sponsors are signed, add their logos to the sidebar as is typical on devopsdays.org sites.

[2015-03-13 22:21] gallimorej commented on #19
The link to the registration page for attendees should be https://devopsdaysdc2015.busyconf.com/bookings/new. Given how the other DevOpsDays events are set up (look at Denver and New York), I think it's OK to link right to BusyConf.

[2015-03-13 22:26] markcornick commented on #19
Great! Are you ready to have this go live now (over this weekend, probably) or should I wait until you say go?

[2015-03-13 22:33] gallimorej commented on #19
Let's wait until Monday to go live with it just in case other eyes see any issues with it between now and then. I tested it out -- but I was also the "developer" :-)

[2015-03-15 00:27] gregelin commented on #7
@markcornick - Please remember to update this issue after publishing the page. Thanks!

[2015-03-16 14:15] markcornick commented on #7
Done - watch https://github.com/jedi4ever/devopsdays-webby/pull/1504 for notification of the upstream merge.

[2015-03-16 14:15] #7 closed

[2015-03-17 19:56] markcornick commented on #12
The image from the wiki page has been recovered, and is being used on Busyconf, so I'll use it on the site unless/until we want something different.

[2015-03-17 19:56] #12 closed

[2015-03-17 19:56] #19 closed

[2015-03-17 19:57] #6 closed

[2015-03-17 19:57] #5 closed

[2015-03-17 19:57] #2 closed

[2015-03-17 19:57] #1 closed

[2015-03-17 19:58] markcornick commented on #18
Closing in favor of #8

[2015-03-17 19:58] #18 closed

[2015-03-17 19:58] markcornick commented on #20
Closing in favor of #9

[2015-03-17 19:58] #20 closed

[2015-03-19 12:47] nathenharvey commented on #8
PR:  https://github.com/jedi4ever/devopsdays-webby/pull/1529

CFP page:  https://devopsdaysdc2015.busyconf.com/proposals/new

[2015-03-19 12:48] #11 closed

[2015-03-19 12:48] #14 closed

[2015-03-19 12:58] #8 closed

[2015-03-20 00:55] markcornick commented on #13
Jason Simpson has been rocking on this.

[2015-03-20 00:55] #13 closed

[2015-03-20 00:55] markcornick commented on #21
First sponsors are in place, code skeleton is there to add more!

[2015-03-20 00:55] #21 closed

[2015-03-20 00:56] markcornick commented on #9
Assuming that this will also happen through Busyconf - when the schedule is ready we'll just add a link as we did for registration and CFP.

[2015-04-19 19:44] markcornick commented on #9
Link to Busyconf is live and schedule will be filled in as the talks are selected.

[2015-04-19 19:44] #9 closed

[2015-04-19 19:45] markcornick opened #22 "Publish information on hotel block"
Instructions, promo code, etc. for attendees to book rooms. Should go on the Location page.

[2015-04-23 17:52] nathenharvey commented on #22
Rate is $209 / night.  People should reserve rooms here:  https://www.starwoodmeeting.com/events/start.action?id=1504211066&key=2B3D51D3

@markcornick can you add this info to the website, please?

[2015-04-24 13:10] nathenharvey opened #23 "Schedule speaker office hours"

[2015-04-24 13:10] nathenharvey opened #24 "select speakers"

[2015-04-24 13:10] nathenharvey opened #25 "Notify speakers"

[2015-04-24 13:10] nathenharvey opened #26 "Notify people who were not accepted"

[2015-04-24 14:42] nathenharvey opened #27 "Add to lanyrd"

[2015-04-24 14:58] nathenharvey opened #28 "T-shirt design"

[2015-04-24 14:58] nathenharvey opened #29 "Add CustomInk as a sponsor"

[2015-05-22 14:04] nathenharvey opened #31 "Order signage for the event"

[2015-05-22 14:18] nathenharvey opened #32 "How many more tickets?"
* Are available?
* Can we give / sell to USPTO?

USTPO would like at least 10 more tickets for free, may be interested in purchasing up to 100.

[2015-05-22 14:19] nathenharvey opened #33 "Sonatype upgrading to Platinum"
Pending payment

[2015-05-22 14:57] nathenharvey opened #34 "Update and fill in volunteer grid"
https://docs.google.com/spreadsheets/d/1ILeN5s-hFMGCPOPg4I56TZnw01XKJZUjs4N6YOsVyCU/edit#gid=0

[2015-05-22 14:57] nathenharvey opened #35 "register volunteers"

[2015-05-22 15:00] nathenharvey commented on #32
Maria-Ann Conti from USPTO wants a tikcet

[2015-05-22 15:03] owdd commented on #35
I would be glad to help with registration if needed.  It looks like there is still a need according to the google doc.

[2015-05-23 10:50] nathenharvey opened #36 "Schedule speaker office hours"

[2015-05-23 10:51] nathenharvey opened #37 "Schedule organizers hangout"

[2015-05-23 10:51] nathenharvey opened #38 "Generate and send sponsor welcome kit"
Should include:

* Schedule
* [Floor plan](https://github.com/DevOpsDaysDC/planning/blob/master/floorplan.pdf) with table assignments
* Information about sponsor pitch (for platinum sponsors)
* Code of Conduct
* What else?

[2015-05-23 11:05] nathenharvey opened #39 "Staff / Volunteer Contact Cards"
index sized cards with all staff and volunteer information

[2015-05-23 11:38] nathenharvey opened #40 "Order t-shirts"
* attendees
  * men
  * women
* staff
  * men
  * women

[2015-05-23 11:39] nathenharvey opened #41 "Speaker Gift bags"
* Smartwater
* mints
* Advil - 2 personal packs
* Emergen-C
* Hand sanitizer
* Tissues
* Granola or protein bar
* Speaker gift

[2015-05-23 11:40] nathenharvey opened #42 "Meetup Sheet for Attendees"
Would it be worthwhile to have a sheet that lists all relevant / interesting local meetups?

This would include the name, URL, and maybe one or two sentences about each.

[2015-05-23 11:54] nathenharvey opened #43 "Release! the game"
order or no?

[2015-05-23 11:58] mbarbine commented on #43
Order

On Sat, May 23, 2015, 7:55 AM Nathen Harvey <notifications@github.com>
wrote:

[2015-05-23 11:59] nathenharvey commented on #43
:) there's also a question of budget but I agree, we should get the game.

[2015-05-23 12:09] mbarbine commented on #42
I have something I shared with my team awhile back. I'll send that out and we can call it a good start. 

Sent on the new Sprint Network from my Samsung Galaxy S®4.

<div>-------- Original message --------</div><div>From: Nathen Harvey <notifications@github.com> </div><div>Date:05/23/2015  7:40 AM  (GMT-05:00) </div><div>To: DevOpsDaysDC/planning <planning@noreply.github.com> </div><div>Subject: [

[2015-05-23 12:22] nathenharvey opened #44 "Twitter Lists"
* attendees
* speakers

[2015-05-23 13:10] nathenharvey opened #45 "Invite organizers to slack"

[2015-05-23 13:43] nathenharvey commented on #40
Attendee Shirts:

Size | Quantity
---- | --------
Men Small | 15
Men Medium | 70
Men Large | 130
Men XL | 80
Men 2XL | 40
Men 3XL | 10
Women S | 10
Women M | 15
Women L | 15
Women XL | 5
Women 2XL | 5
Women 3XL | 5
**Total** | 400

[2015-05-23 14:04] nathenharvey commented on #41
I've ordered etched pint glasses for speakers.

I think a [box of chocolates](http://www.gearhartschocolates.com/16_Piece_Assortment_p/assortment_16.htm) for each speaker would be good, too.  40 of [these](http://www.gearhartschocolates.com/16_Piece_Assortment_p/assortment_16.htm) would be about $1400.

[2015-05-23 14:05] nathenharvey commented on #37
target next Friday, May 29

[2015-05-23 14:06] nathenharvey commented on #36
Target May 29

[2015-05-23 14:08] nathenharvey commented on #32
Looks like we are currently at capacity.  There may be some room from sponsors who aren't using their tickets.

Let's say all sponsors must be registered by May 29 or else they lose their tickets.  By June 3, we should open any remaining government tickets to the first people on the waiting list.

If we have remaining volunteer slots, they should be offered to the first people on the waiting list.

[2015-05-23 14:13] nathenharvey commented on #28
Done!

* [Attendee Men](http://www.customink.com/designs/doddcam/rbh0-00a4-ebet/retrieve)
* [Attendee Women](http://www.customink.com/designs/doddcaw/rbh0-00a4-ebf9/retrieve)
* [Staff Men](http://www.customink.com/designs/doddcsm/rbh0-00a4-ebff/retrieve)
* [Staff Women](http://www.customink.com/designs/doddcsw/rbh0-00a4-edre/retrieve)

[2015-05-23 14:13] #28 closed

[2015-05-23 14:13] #26 closed

[2015-05-23 14:13] #25 closed

[2015-05-23 14:13] #24 closed

[2015-05-23 14:13] #23 closed

[2015-05-23 14:13] #22 closed

[2015-05-23 15:07] markcornick commented on #29
Listed as a platinum sponsor.

[2015-05-23 15:07] #29 closed

[2015-05-23 15:24] markcornick commented on #27
Already there: http://lanyrd.com/2015/devopsdaysdc/ Needs to be claimed; @nathenharvey do you want to claim it?

[2015-05-23 15:25] markcornick opened #46 "VictorOps for event-day communication"
I'll work with Jason Hand at VictorOps to get this together.

[2015-05-23 16:06] nathenharvey commented on #27
I've claimed it and my claim is under review.

I also added some additional details but feel free to flesh it out a bit more.

[2015-05-23 16:25] nathenharvey commented on #44
* [doddc-2015-speakers](https://twitter.com/DevOpsDaysDC/lists/doddc-2015-speakers/members)
* [doddc-2015-attendees](https://twitter.com/DevOpsDaysDC/lists/doddc-2015-attendees/members)

[2015-05-25 01:29] jsmartin opened #47 "Submission Instructions for Ignite Talks"
Add submission instructions and deadlines for ignite talks -- Likely 3-5 days before event to give time for a final review.

[2015-05-25 13:57] radiocats commented on #35
Thank you, Derek.  I have added you.

     On Friday, May 22, 2015 11:03 AM, Derek Daczewitz <notifications@github.com> wrote:

 I would be glad to help with registration if needed. It looks like there is still a need according to the google doc.—
Reply to this email directly or view it on GitHub.

[2015-05-28 04:13] nathenharvey commented on #40
Order #: 5789289
Track: http://www.customink.com/track/5789289-16128711

Date Placed: Wednesday, May 27, 2015
Delivery Date: On or before Wednesday, June 10, 2015

Design: doddcsw
Decoration: Screen Printing, 1 color front, 2 color back

Item 1: Bella Ladies Tri-Blend V-Neck T-shirt - True Royal Triblend
Quantity: M: 8, L: 4, XXL: 2; Total: 14

Item 2: Next Level 60/40 T-shirt - Charcoal
Quantity:

[2015-05-28 04:13] #40 closed

[2015-05-29 13:50] nathenharvey opened #48 "Sponsor thank you slides"
Need slide deck with rotating sponsor logos

Need slides to encourage thanking sponsors on twitter with all sponsors twitter handles

[2015-05-29 15:21] nathenharvey opened #49 "Fireeye a sponsor?"
Have they paid?

they aren't listed and don't have a discount code (yet)

[2015-05-29 15:46] nathenharvey opened #50 "Email currently registered about refund policy"
* No refunds after 6/5
* Many on the waitlist, no hard feelings if you can't make it

[2015-05-29 15:48] nathenharvey commented on #27
Good news! Your claim has been approved.
Hi Nathen Harvey,
You recently submitted a claim to take ownership of the following event on Lanyrd:

DevOpsDays DC, 11th-12th June 2015

Good news! Your claim has been approved. Now you can:

Embed the event schedule and list of attendees in your own website
Add full length bios and upload photos for each of your speakers
Set up rooms at your venue and use

[2015-05-29 17:42] nathenharvey commented on #37
Scheduled for 3PM June 1

[2015-05-29 17:42] #37 closed

[2015-05-29 17:42] nathenharvey commented on #36
Scheduled for 10AM on June 2 and 3.

[2015-05-29 17:42] #36 closed

[2015-05-29 18:23] nathenharvey opened #51 "List fugue/luminal as a sponsor"
/cc @markcornick and Jason Simpson

[2015-05-29 18:36] nathenharvey commented on #50
https://manage.busyconf.com/events/devopsdaysdc2015/messages/5568b087c78cf80400000064/edit

I've asked @gallimorej to review and send if it looks good.

[2015-05-29 18:41] nathenharvey commented on #49
@jasonNetuitive @gallimorej has Fireeye paid as a sponsor yet?

[2015-05-29 18:42] nathenharvey commented on #47
this is complete, right @jsmartin?  please reopen if it is not.

[2015-05-29 18:42] #47 closed

[2015-05-29 18:43] #44 closed

[2015-05-29 18:44] nathenharvey opened #52 "Schedule Tweets"
* [Speaker List](https://twitter.com/DevOpsDaysDC/lists/doddc-2015-speakers/members)
* [Attendee List](https://twitter.com/DevOpsDaysDC/lists/doddc-2015-attendees/members)
* Sponsor thank you tweets

[2015-05-29 18:58] nathenharvey commented on #27
Updated the page.  Calling this "done"

[2015-05-29 18:58] #27 closed

[2015-05-29 19:27] gallimorej commented on #49
The check is in the mail. We just haven't received payment yet.

[2015-05-29 19:28] gallimorej commented on #50
Sent on 5/29.

[2015-05-29 19:28] #50 closed

[2015-06-01 18:18] gallimorej commented on #33
Check for upgrade received 6/1/2015

[2015-06-01 18:18] #33 closed

[2015-06-01 19:02] nathenharvey opened #53 "Speaker / Sponsor Dinner"

[2015-06-01 19:36] nathenharvey opened #54 "Open Space supplies"

[2015-06-01 20:08] markcornick commented on #51
https://github.com/jedi4ever/devopsdays-webby/pull/1764 adds Luminal as a platinum sponsor.

[2015-06-01 20:08] #51 closed

[2015-06-01 21:07] gallimorej opened #55 "Refund RedHat Gold sponsorship"
RedHat purchased two sponsorships -- one Gold and one Platinum. They want to keep the Platinum, which means we need to refund the Gold.

[2015-06-02 02:08] nathenharvey opened #56 "Budget Review"

[2015-06-02 02:18] nathenharvey opened #57 "sponsor pitch schedule"
which sponsors are giving their one-minute pitch when?

[2015-06-02 04:30] #56 closed

[2015-06-02 04:48] nathenharvey commented on #32
We are sold out.  Current ticket counts are available on this [google spreadsheet](https://docs.google.com/spreadsheets/d/1WV1X7qV-8lqFsR0PgyrCCLjdpDScoe2UAnKzLgQb0jQ/edit#gid=0)

Currently sitting at 395 committed tickets with a current room set-up of 342.  We are working to reconfigure the room for more and encouraging sponsors to give up their unused tickets.

[2015-06-02 04:48] #32 closed

[2015-06-02 04:50] #35 closed

[2015-06-02 04:53] nathenharvey commented on #42
@mbarbine have you had any luck finding the one you put together?  How are you document layout skillz?

[2015-06-02 04:53] nathenharvey commented on #43
Received

[2015-06-02 04:53] #43 closed

[2015-06-02 04:55] nathenharvey commented on #45
@xzilla I sent you an invite to this org.  once in, can you assign this ticket to yourself, please?

[2015-06-02 05:14] nathenharvey commented on #48
I've added a ppt template that we can use in the [planning repository](https://github.com/DevOpsDaysDC/planning/blob/master/doddc2015_template.potx)

[2015-06-02 05:17] nathenharvey commented on #31
coordinate with Adrienne Cox at USPTO

[2015-06-02 18:07] nathenharvey opened #58 "Etherpad"
Setup etherpad for capturing open-space session notes

[2015-06-02 18:39] nathenharvey commented on #41
The box of chocolates is probably going to push us over budget and we should skip.

[2015-06-02 18:39] nathenharvey commented on #42
@radiocats offered to help, too.

[2015-06-03 00:43] radiocats commented on #42
I will complete this by Friday night.  Is that plenty of time for someone to come behind me and doc skillz my list?

[2015-06-03 14:27] mbarbine commented on #42
Sorry this has taken awhile. Yes, I have the doc.

@radiocats  - Do you want to compare notes? I raised my hand initially for this so I'll do what I said I would do. Be glad to work with you on it though or go behind and review it for you. Let me know.

[2015-06-03 14:28] mbarbine commented on #54
What supplies are needed? I've never been to an open spaces.

[2015-06-03 14:29] mbarbine commented on #41
Do we already have bags? like a ... "DevOpsDays DC 2015" burlap sack or do bags need to be purchased along with the items listed?

[2015-06-03 17:16] radiocats commented on #42
No worries, Michael.  You got this.  My only suggestions is to make sure it is more DevOps-shaped meetups.  I would assume you would have pointed your team to a good amount of security-oriented meetups as well.

Happy to compare notes.

[2015-06-03 18:46] nathenharvey opened #59 "Emails to attendees"
* Week prior to the conference
* Monday or Wednesday before the conference
* After the conference - link to survey

[2015-06-03 18:46] nathenharvey opened #60 "Create a feedback survey for attendees"

[2015-06-03 18:47] nathenharvey commented on #41
I'm thinking we use simple paper gift bags as getting something custom at this stage will be a bit difficult and isn't currently in the budget.

[2015-06-03 18:54] nathenharvey commented on #42
probably a good idea to just start a wiki page or a markdown file in this repository with the relevant details.  I think the things we'll want to list for each group are:

* name of the group
* url of the group
* next meeting date, location, and topic (if applicable)
* date founded
* number of members

/cc @radiocats @mbarbine

[2015-06-03 18:54] nathenharvey commented on #46
how's this coming?  how will we use it?

[2015-06-03 18:55] nathenharvey commented on #49
@radiocats @mbarbine can you send over a logo?

Once payment is received we'll get you listed on the website.

/cc @markcornick

[2015-06-03 18:57] mbarbine commented on #49
Yes. I'll send it over shortly

On Wed, Jun 3, 2015, 2:55 PM Nathen Harvey <notifications@github.com> wrote:

[2015-06-03 19:01] mbarbine commented on #49
![fireeye-2-color](https://cloud.githubusercontent.com/assets/3211492/7968880/615e8f64-0a01-11e5-8784-d3afb79f9f82.png)

[2015-06-03 19:01] mbarbine commented on #49
Do we need something Hi-Res?

[2015-06-03 19:01] nathenharvey commented on #54
* 4 large post-it flip chart pads
* 4x6 (or larger) post-it notes - at least 1000
* 4 packs markers - suggest [Mr. Sketch](http://www.amazon.com/Sanford-Mr-Sketch-Assorted-Markers/dp/B00006IFH0) as they work best on flipcharts and such...and smell really good :)
* 50 sharpie markers (black, blue, green, or assorted)
* 2 yard sticks

[2015-06-03 19:19] markcornick commented on #49
Nope, the one you sent should work. I'll get it on the site later today.

[2015-06-03 19:25] nathenharvey commented on #58
etherpad or just google docs?

[2015-06-03 20:37] nathenharvey commented on #57
We'll put them in the order they were paid and divide it evenly across the 4 slots.

[2015-06-03 20:52] mbarbine commented on #41
I'll take care of this one. I'll get the items listed above. Is there anything else?

[2015-06-03 21:52] markcornick commented on #49
What level sponsor is FireEye?

[2015-06-03 21:57] radiocats commented on #49
Platinum

[2015-06-03 22:02] markcornick commented on #49
OK. Site changes are ready to go when payment is received.

[2015-06-03 22:09] markcornick commented on #46
Jason gave me access to the devopsdays account on VictorOps. In the past, other events have had a mail alias that forwards into VO and alerts whoever is "on call." We could put the mail alias on the opening slides so we can respond to urgent situations (tech issues, people problems, etc.) I'm thinking we should alert the people who have the MGMT role on our volunteer spreadsheet and whoever seems

[2015-06-03 22:59] gallimorej commented on #46
I'd like to use it if it's not too much of a lift. Setting up the teams would be really important, though. I'd love to have a "Registration" team where we could route issues in that area. Greg and I would obviously be members of that team plus any volunteers who wanted to be -- although that would require a little training and setup.

[2015-06-03 23:02] mbarbine commented on #49
Platinum
On Jun 3, 2015 5:52 PM, "Mark Cornick" <notifications@github.com> wrote:

[2015-06-04 10:38] nathenharvey opened #61 "Final speaker email"
* Update on info from the latest speaker office hours
* RSVP for speaker dinner
* Code of Conduct
* Reminder about ignite requirements

[2015-06-04 16:32] gallimorej commented on #55
Refund processed 6/4

[2015-06-04 16:32] #55 closed

[2015-06-04 17:45] jasonNetuitive commented on #57
Here is the order:
Excella Consulting
Sumo Logic
Luminal
Sonatype
Ansible
Netuitive
Chef
Elastic
Red Hat
Custom Ink
Delphix
VictorOps
FireEye

The activity has been updated, please review and "accept" if it looks good.  thanks

[2015-06-04 17:45] #57 closed

[2015-06-04 18:30] jasonNetuitive commented on #38
I am sending you this via email.  I don't think we can send it from BusyConf because of the image.

[2015-06-04 18:32] jasonNetuitive commented on #38
email sent.  Please review and send

[2015-06-04 19:36] markcornick commented on #46
OK, I'll get some teams set up and get in touch with the MGMT folks to get them set up. Probably happen in the next few days as I'm up in NYC today.

[2015-06-04 19:56] radiocats commented on #46
I guess you can put me down as Site MGMT.  I can then be notified and chase down anything location/venue/general shaped when they come up. 

-- Mike

     On Thursday, June 4, 2015 3:36 PM, Mark Cornick <notifications@github.com> wrote:

 OK, I'll get some teams set up and get in touch with the MGMT folks to get them set up. Probably happen in the next few days as I'm up in NYC today.—
Reply to th

[2015-06-04 20:25] nathenharvey commented on #38
Email to sponsors sent!

[2015-06-04 20:25] #38 closed

[2015-06-04 23:27] gregelin commented on #46
+1 to the above.

I also think we should share phone numbers of all organizers and volunteers
as backup.

Greg

On Thu, Jun 4, 2015 at 3:56 PM, radiocats <notifications@github.com> wrote:

[2015-06-05 00:34] nathenharvey commented on #52
Done

https://docs.google.com/document/d/1WfZo41bt5VcUItOusrGdfFi18PFTMAPWNP4zs-vC5AA/edit?usp=sharing

[2015-06-05 00:34] #52 closed

[2015-06-05 02:09] nathenharvey commented on #46
regarding sharing contact info, @xzilla is assigned #39

[2015-06-05 02:12] nathenharvey commented on #41
@mbarbine I think the list above should cover us.  We have a total of 23 speakers.

[2015-06-05 02:12] nathenharvey commented on #45
Looks good!

[2015-06-05 02:12] #45 closed

[2015-06-05 02:13] nathenharvey commented on #53
Invites sent to everyone.  RSVPs are coming in.  Payment and confirmation details with the westin have been made.

[2015-06-05 02:13] #53 closed

[2015-06-05 02:14] nathenharvey commented on #54
@mbarbine can you pick up this stuff while you're shopping for speaker gifts, too?

[2015-06-05 02:15] nathenharvey commented on #60
@DevOpsDaysDC/owners anyone interested in picking up this one?  Other DoD organizers may have some suggestions for what to ask, etc.

[2015-06-05 19:00] nathenharvey commented on #59
For Friday, June 5 - [message loaded into BusyConf](https://manage.busyconf.com/events/devopsdaysdc2015/messages/5571f16f85fee2c8ee000018/edit)

Draft:

Hi {{ first_name }}!

DevOpsDays DC is next week!  We are so happy that you'll be part of our inaugural DevOpsDays event.

**New Keynote Announced**

We are really excited to welcome [Mark A. Schwartz](https://twitter.com/schwartz_cio), Chief Info

[2015-06-05 19:10] nathenharvey commented on #59
For Wednesday, June 10 - [message loaded in BusyConf](https://manage.busyconf.com/events/devopsdaysdc2015/messages/5571f3f3549d5c240a000018/edit)

**Draft**

Hi {{ first_name }}!

DevOpsDays DC starts tomorrow!  We are so happy that you'll be part of our inaugural DevOpsDays event.

Registration opens at 7:30AM.  The conference kicks-off at 9:00AM.  Coffee and a light breakfast will be served duri

[2015-06-06 00:59] nathenharvey commented on #61
DevOpsDays DC - Speaker Update

Speakers are a big part of making DevOpsDays successful, **THANK YOU** for participating in our inaugural event!

**Location**

* USPTO, Madison Building, 600 Dulany St., Alexandria, VA  22314
* [Directions to the Madison Building](http://www.uspto.gov/page/directions-madison-buildings-east-west-600-dulany-street-alexandria-va) are available on the USPTO site.  King

[2015-06-06 00:59] #61 closed

[2015-06-06 01:58] nathenharvey commented on #48
closed with 6867412

[2015-06-06 01:58] #48 closed

[2015-06-06 02:52] nathenharvey commented on #42
I started a [list in the wiki](https://github.com/DevOpsDaysDC/planning/wiki/local_meetups).  Additions welcome and encouraged!

https://github.com/DevOpsDaysDC/planning/wiki/local_meetups

/cc @radiocats @mbarbine @DevOpsDaysDC/owners

[2015-06-06 14:31] mbarbine commented on #54
You read my mind @nathenharvey - of course!

[2015-06-06 14:40] mbarbine commented on #54
Will Open Spaces have tables? or do we need 4 easels for the large post-it flip chart pads.

[2015-06-06 14:48] mbarbine commented on #41
23 speaker bags. Got it. I was confused initially on the 40 boxes of chocolate. Something is not adding up here :)

[2015-06-06 15:09] #41 closed

[2015-06-06 15:09] #54 closed

[2015-06-06 15:54] mbarbine opened #62 "Tablet for timing talks and pitches"
We need a tablet to use as a timer for all of the talks and pitches. Preference is to not buy one.

[2015-06-06 17:27] #62 closed

[2015-06-06 19:12] nathenharvey commented on #62
this is a good app - https://itunes.apple.com/us/app/stoplight-clock/id475416161?mt=8

[2015-06-07 19:33] gregelin commented on #62
Do really just need one?

[2015-06-08 19:26] radiocats commented on #39
My twitter is:  @radiocats and my title is "Manager/Principal Database Administrator".  Thanks.

[2015-06-08 19:27] markcornick commented on #46
VictorOps invites have been sent.

[2015-06-08 19:56] nathenharvey commented on #39
my info is correct, thanks @xzilla

[2015-06-09 11:29] radiocats commented on #39
I know this may be too late for printing but Krishna Palati's cell number is 571-236-8861 and title is: "Principal Database Administrator" at FireEye

[2015-06-09 11:52] nathenharvey commented on #58
http://e.devopsdaysdc.org is set-up

[2015-06-09 11:58] nathenharvey commented on #60
Some samples from previous DevOpsDays:

* https://gist.github.com/aaronrl/67c8a9187da39d040c6e - used surveymonkey
* https://docs.google.com/forms/d/12-j2TeZmUdXOeg8V3tOzBK41mH_eVqaZKgy33BVdcRo/edit

[2015-06-09 12:00] nathenharvey commented on #49
they've paid.  /cc @markcornick

[2015-06-09 12:01] nathenharvey opened #63 "New Fugue logo on the site"
see email from Drew with updated Fugue logo to replace the luminal log

[2015-06-09 12:01] nathenharvey opened #64 "New Fugue Logo on sponsor slides / signs"
see email from Drew with updated Fugue logo to replace the luminal log

[2015-06-09 12:45] gallimorej commented on #49
Check received 6/8

[2015-06-09 12:45] #49 closed

[2015-06-09 13:47] #63 closed

[2015-06-09 13:54] markcornick commented on #46
This is ready to go, but the last thing we might want to do is create an alias for the some-long-uuid@victorops.com email address that will be more human-friendly. Any suggestions from anyone?

[2015-06-10 00:03] gregelin commented on #31
Signage has been coordinated...

[2015-06-10 00:03] #31 closed

[2015-06-10 05:11] #64 closed

[2015-06-10 05:12] nathenharvey commented on #64
f6a86893

[2015-06-10 05:13] nathenharvey opened #65 "Create etherpads for each of the main sessions"
http://e.devopsdays.org

Open spaces will create their own, too.

[2015-06-10 05:23] #42 closed

[2015-06-10 12:11] gregelin commented on #46
Suggestion for email address?
doddc@victorops.com
devopsdaysdc@victorops.com

or suggestion of where to host the email alias?

Greg

On Tue, Jun 9, 2015 at 9:54 AM, Mark Cornick <notifications@github.com>
wrote:

[2015-06-10 13:06] nathenharvey commented on #46
I set-up a google apps account for us.  @markcornick has admin access.  You have another email address ;)

[2015-06-10 14:51] markcornick commented on #46
alert@devopsdaysdc.org will be our primary endpoint for incoming mail. Unfortunately, I wasn't able to get the automatic-routing (the +ROUTING_KEY) to work with Google Apps, so everything will go into the "everyone" queue which is currently me, @nathenharvey and @mbarbine. We'll reassign to the other queues as needed.

[2015-06-10 14:51] #46 closed

[2015-06-17 14:50] nathenharvey opened #66 "Put schedule, talks, and videos on devopsdays.org"

[2015-06-17 14:50] nathenharvey opened #67 "Get videos from USPTO, post to vimeo"

[2015-06-17 14:50] #34 closed

[2015-06-17 14:51] #39 closed

[2015-06-17 14:51] #58 closed

[2015-06-17 14:51] #59 closed

[2015-06-17 14:51] #60 closed

[2015-06-17 14:51] #65 closed

[2015-06-17 14:52] nathenharvey opened #68 "Move notes from etherpad and retire etherpad"

[2015-06-17 15:04] nathenharvey opened #69 "Place reorder of t-shirts"

[2015-06-18 18:43] nathenharvey opened #70 "compile photos"
a lot of photos were taken.  Let's compile them here.

[2015-06-18 19:12] owdd commented on #70
Here are a couple that I took of you lads on stage.
![dod2](https://cloud.githubusercontent.com/assets/8418679/8239839/67298242-15cc-11e5-90bc-1030824803e9.jpeg)
![dod1](https://cloud.githubusercontent.com/assets/8418679/8239845/6a78d664-15cc-11e5-91cf-726c60533ba3.jpeg)

[2015-06-22 23:23] nathenharvey commented on #70
I've added some pics to this folder in the repo.  Please add more!

https://github.com/DevOpsDaysDC/planning/tree/master/pics

[2015-06-30 11:20] nathenharvey commented on #67
Videos from USPTO are available here:

https://www.dropbox.com/sh/j7b1hy8e58j6evi/AACZJRNJ2xf8VxJ2f_-zD3jxa?dl=0

- [ ] Split up videos into one video per talk
- [ ] Post videos to shared DevOpsDays vimeo Account
- [ ] Embed videos in main DevOpsDaysDC program page(s)

Anyone interested / available to help with this?  /cc @DevOpsDaysDC/owners

[2015-07-01 20:41] nathenharvey commented on #67
@mbarbine I'm going to cc you on an email to someone else who volunteered to do this, too.  stand by!

[2015-07-01 20:53] momecca commented on #67
I'm interested.  I'd like to split them and then split the audio for both a video and audio podcast format.  For the videos, I think they can reference vimeo, or youtube.  Where should the splits go?

[2015-12-29 12:55] #69 closed

[2015-12-29 12:56] nathenharvey commented on #68
http://www.devopsdays.org/events/2015-washington-dc/program/#etherpad

[2015-12-29 12:56] #68 closed

[2015-12-29 12:57] #67 closed

[2015-12-29 12:57] #66 closed

[2015-12-29 12:57] #70 closed

[2015-12-29 13:08] nathenharvey opened #71 "Launch the CFP"
- [ ] Target speakers within 100 miles again
- [ ] Set an opens date and closes date under **Call for Proposals > Settings > Basics**
- [ ] Define any extra custom questions for the CFP under **Event > Custom Questions**
- [ ] Assign specific custom questions to the CFP's activity or speaker fields under **Call for Proposals > Settings > Basics**
- [ ] Add instructions, graphics, maps, etc to the

[2015-12-29 13:22] nathenharvey opened #72 "Launch ticket Sales"
- [ ] Specify a Ticket Registration launch date - 1 Feb 2016
- [ ] Specify ticket types and ticket prices
- [ ] Specify capacity for each ticket type
- [ ] Specify discount codes, hidden tickets, etc.
- [ ] Write welcome emails sent when registration is confirmed

[2015-12-29 13:24] nathenharvey opened #73 "Launch Sponsorships"
- [x] Define levels (same as last year?)
- [x] Create a prospectus
- [x] Create ticket types in BusyConf
- [x] Update the website
- [x] Launch sales

[2015-12-29 13:27] nathenharvey opened #74 "Set-up Transfer Recipient in BusyConf"
https://manage.busyconf.com/events/devopsdaysdc2016/transfer_recipient/edit

[2015-12-29 13:28] nathenharvey opened #75 "Create shell of schedule in BusyConf"
- [x] Days
- [x] Tracks
- [x] Time Slots
- [x] Non-speaking activities

[2015-12-29 14:06] nathenharvey commented on #72
target a total of 500 tickets inclusive of staff, speakers, sponsors, press, government attendees, and regular attendees.

[2015-12-29 14:07] nathenharvey opened #76 "Identify and assign facilitators for the open spaces"

[2015-12-29 14:07] nathenharvey opened #77 "Create etherpad for capturing Open Space notes"

[2015-12-29 14:07] nathenharvey opened #78 "Create etherpads for each open space session"

[2015-12-29 14:11] nathenharvey opened #79 "Purchase Walkie Talkies for the event"

[2015-12-29 14:12] nathenharvey opened #80 "T-shirt design"

[2015-12-29 14:13] nathenharvey opened #81 "District of DevOps Report"
- organize organizers
- DevOps Report data from Nicole
- brief video updates from 2015 speakers
- collection of reports around DevOps in the District
- soundbytes from 2015 talks (for 2016 web site)

[2015-12-29 14:13] nathenharvey opened #82 "Labs and/or Tutorials"

[2015-12-29 16:08] markcornick commented on #80
A few shirt suggestions compared to last year's shirts:

- get some XXXL shirts (because I'm a fatass)
- use a little more substantial fabric (last year's shirts felt almost threadbare)

[2015-12-29 16:24] owdd commented on #80
I'm with Mark.  Is there a way to allow the smaller sizes (up to XL) get the more hip fabric for those w/ svelt figures, and something like Hanes Beefy tees for those of us of larger carriage?

[2015-12-29 16:58] markcornick opened #83 "Update Twitter profile for 2016"
Still has 2015 dates.

[2015-12-29 17:02] nathenharvey commented on #83
Updated http://twitter.com/devopsdaysdc

[2015-12-29 17:02] #83 closed

[2015-12-29 17:15] clumpidy commented on #80
Sure, we could buy different types of shirts for different sizes. Last year's shirt was a tri-blend which is very soft. We could use http://www.customink.com/styles/hanes-tall-beefy-t/196700 for the larger sizes.  There's a lot to choose from: http://www.customink.com/categories/short-sleeve-t-shirts/16/styles#facets/

[2015-12-29 17:22] gallimorej commented on #74
Added transfer info for DC Tech Community Champions with bank account info. Also created/updated finance Google group: devopsdays-dc-2016-finance@googlegroups.com

[2015-12-29 17:22] #74 closed

[2016-01-05 14:15] ramezjm commented on #71
CFP 2016 start date is Feb 1.
CFP end date: ?? (Last year it was April 15 2015.) I recommend April 30 that so it doesn't overlap with end of tax season :)
I'm working on getting info from last year's CFP to see what we can reuse.

[2016-01-05 14:23] ramezjm commented on #71
@nathenharvey Can you give me access to view the CFP pages for 2015 in Busyconf?

[2016-01-07 03:16] mbarbine commented on #79
I think 12 radios should be enough. 8 radios + 4 extra. The extra could be for times when we need more people with radios moving the crowds out of the common area and also to have a few charging while others are in use so that they ca be swapped.

Thoughts? I'll find and purchase them if that sounds good. Let me know if we need to increase / decrease  etc.

[2016-01-07 03:19] mbarbine commented on #80
I think we should stick with the tri-blend for the majority. They are the best quality and most popular (also most expensive). However, there is nothing wrong with some variety and a preference for a heavier shirt is probably not uncommon. Can we do an 75/25 on fabric types? Sizes are hard to peg. Do we have any data on inventory from last year?

- What did we run out of?
- Not enough of?
- Too mu

[2016-01-07 03:22] mbarbine commented on #82
Should this somehow be sponsor driven? I can give a tutorial on something. I think we have some in house chef experts, but for other types of labs maybe there could be some value add for a sponsor to bring a SME along to facilitate?

[2016-01-14 18:07] atkraft commented on #81
I mentioned the DevOps Report to Mike Bland of GSA's 18F group.  I'll be having a more in depth discussion with Mike on Feb 1st; so we might be able to get some contributions to the report from the 18F team and the agencies that they work with.

[2016-01-15 20:11] gregelin opened #84 "Idea: DevOps Labs - Build a state of the art Continuous Integration & Delivery Pipeline Workshop"
Inspired by SchmooCon Labs where an enterprise-grade network is build over 36 hours with mentors and students using equipment donated by sponsors. A small fee is required to participate.

[2016-01-26 23:42] mbarbine commented on #79
@nathenharvey

[2016-01-26 23:45] mbarbine commented on #80
I've reached out to my buddy Terry (who helped me facilitate the evening events last year). He asked if he could mock up a design for us. He's going to work on that, but if anyone had other ideas in mind please post and let me know what the status is. I don't want to push forward on it if there are already designs or plans for this. I haven't seen any updates though.

@nathenharvey

[2016-01-26 23:47] mbarbine commented on #72
1. Can we have a box for whether an attendee is planning on getting lodging so that we can accurately block out hotels with an accurate attrition? and how many days of lodging.

2. Can we get a checkbox to determine whether the attendees will attend an evening event? Would also effect obligation and attrition costs if we had some data on this.

@nathenharvey @gallimorej

[2016-01-26 23:48] mbarbine commented on #76
Top question: What does a facilitator really do?

@nathenharvey

[2016-01-27 00:16] mbarbine opened #85 "Badge Design"
Any ideas on this?

Going to a few conferences my favorite badges are the ones that have a feature or something special within it that make it a keepsake.

[2016-01-27 19:21] atkraft commented on #85
I think last year's badge with the logo & attendee name printed on both sides is a good idea worth repeating this year.  For the design, one idea would be to use last year's logo & "DevOps Days DC" with the addition of 2016 to distinguish it from last year; then come up with a new red, white, & blue stripes background.

[2016-01-27 19:29] clumpidy commented on #80
I believe this is the design that we went with last year: http://www.customink.com/designs/doddcam/rbh0-00a4-ebet/retrieve

[2016-01-27 19:32] clumpidy commented on #80
I'm pretty sure we capture sizes on registration, so I would think it would be pretty straight-forward to say all sizes below XL are tri-blent. XL and up are something else.

[2016-01-29 13:34] gallimorej commented on #72
BusyConf is setup and ready to go live on 1 Feb 2016. @mbarbine, I added two custom questions for lodging and event attendance to be filled out when registering.

[2016-01-29 13:34] #72 closed

[2016-02-03 23:40] mbarbine commented on #85
![img_51561](https://cloud.githubusercontent.com/assets/3211492/12800757/7828de56-caa5-11e5-8ab8-f147ae4ede70.jpg)

A friend of mine mocked this up for us and said he'd be happy to make changes or if anyone else has an idea. This was the first iteration. Not bad.

[2016-02-03 23:41] mbarbine commented on #80
![img_51561](https://cloud.githubusercontent.com/assets/3211492/12800776/9d573380-caa5-11e5-8f13-969f87b4c6f7.jpg)

I posted this in badge design issue... it's not bad... looking for consensus or ideas?

[2016-02-03 23:42] mbarbine opened #86 "Add me to the Slack channel please! - barbine.michael@gmail.com"
barbine.michael@gmail.com
michael.barbine@excella.com

[2016-02-04 02:33] atkraft commented on #85
Yes, it looks good.

Thanks,

Alan

From: Michael Barbine [mailto:notifications@github.com]
Sent: Wednesday, February 03, 2016 6:40 PM
To: DevOpsDaysDC/planning <planning@noreply.github.com>
Cc: Kraft, Alan <Alan.Kraft@USPTO.GOV>
Subject: Re: [planning] Badge Design (#85)

[img_51561]<https://cloud.githubusercontent.com/assets/3211492/12800757/7828de56-caa5-11e5-8ab8-f147ae4ede70.jpg>

A friend of

[2016-02-04 17:12] jsmartin commented on #79
My main concern here is the range and any approval we may need to use these things in the building.  It's mostly an open area, so before we buy them all, maybe we should test out a couple?

[2016-02-08 18:13] ramezjm commented on #71
All prep work is done for this. I kept the deadline as 4/15, to allow reviews to end by 4/30.

I also recommend we maintain the same questions for both registrants and CFP submissions (t-shirt size, first devopsdays, etc...)

[2016-02-08 18:14] #71 closed

[2016-02-09 02:54] nathenharvey commented on #86
I have invited barbine.michael@gmail.com to the DevOpsDays organizers slack team.  Ping me once you're in and I'll add you to our private channel.

[2016-02-09 02:56] nathenharvey commented on #85
This is a fun take on a new design.  The think I think it's missing though is some gears.  (Almost?) every DevOpsDays logo has some gears in it to help it stay somewhat consistent with the main DevOpsDays logo.

[2016-02-09 03:01] nathenharvey commented on #79
I know the founder of http://www.orionlabs.co/ quite well.  Let me reach out to him and see if he'd be willing to loan us a set of Onyx for the event.  They work with bluetooth and your cell phone.

[2016-02-09 03:11] nathenharvey commented on #76
**Opening the session - Suggested Procedure**
* Introduce yourself
* Briefly explain your role as a facilitator
  * To remain neutral
  * Not to weigh in on any "official" / "expert" perspective
  * Help to bystand the conversation if the group is stuck
  * Engage other voices in the room in only a few dominate the session

**Managing the session**
* Clock management.  Sessions should start on the

[2016-02-09 03:18] nathenharvey opened #87 "Media Sponsorships"
The [Arrested DevOps Podcast](https://www.arresteddevops.com/) has outlined a [program for media sponsorship](https://gist.github.com/mattstratton/0306155562f8abddeb2c) that I think makes sense for us to implement.

What do you think @jasonNetuitive?  Should we make this option available to Arrested DevOps?

I'm thinking a 10% discount off the ticket price would be sufficient.  The [Food Fight Sho

[2016-02-09 03:22] ramezjm opened #88 "Invite Ramez Mourad to slack team"
Please use my gmail address. Thanks!

[2016-02-09 03:27] nathenharvey commented on #88
lmk when you're in and I'll add you to the private channel.

[2016-02-09 03:36] nathenharvey commented on #88
done and done.

[2016-02-09 03:36] #88 closed

[2016-02-09 04:01] ramezjm commented on #78
I can help with this since I've managed it last year. Feel free to assign to me.

[2016-02-09 04:03] ramezjm commented on #76
It would be great to have a simple 3x5 or similar which facilitators and scribes can fill out, then turn in for some swag. That can also contain other info such as etherpad link.

[2016-02-09 12:32] nathenharvey commented on #76
:+1:

[2016-02-09 15:50] jasonNetuitive commented on #73
Thanks to Nathen for updating the website.  I sent out messages to all the folks asking about sponsoring the event.  I still need to send out a note to all the past sponsors.  that will go out later today.  And now I just need to make sure everything is working correctly in busy conf.

[2016-02-15 14:56] #86 closed

[2016-02-15 15:00] mbarbine opened #89 "Rolling A/V Televisions/Monitors"
Does the USPTO have these avaiable for us to use?

What is the size of the television/monitor?

Can it be oriented vertically?

[2016-02-15 15:05] mbarbine opened #90 "Need access to DODDC 2016 Registration"
Busyconf is only showing DOD 2015 event information for me.

I need this information so that I can complete the RFP for event/hotel blocks.

[2016-02-29 15:40] #90 closed

[2016-02-29 15:42] mbarbine opened #91 "Schedule organizer lunch"
What day in March is @nathenharvey not globe trotting?

[2016-03-09 01:14] mbarbine commented on #80
![devopsdays](https://cloud.githubusercontent.com/assets/3211492/13622102/69931052-e56a-11e5-932a-e326a182cb0d.jpg)

[2016-03-09 01:15] mbarbine commented on #85
![devopsdays](https://cloud.githubusercontent.com/assets/3211492/13622119/8a4a5a62-e56a-11e5-8c71-5a9c26c5b1ba.jpg)

[2016-03-09 14:53] atkraft commented on #85
I like the use of the capitol dome.  Of the three designs, I think the center one shows the "DC" most clearly in the gears.  The one on the right is second best on that issue, while some people may not see the "DC" in the gears of the one on the left.

[2016-03-09 15:03] mbarbine commented on #85
Thanks @atkraft I'll let the designer know that we want to go with the middle one. I'll get all of the artifacts over to you asap.

I'll get the artifacts for the other/monument logo as well.

[2016-03-09 15:31] atkraft commented on #89
I've asked for details on this from our Conference Services group.  The ones that I've seen here in the past are fixed in a horizontal mount.  They should get back to me with an answer later this week.

[2016-03-09 15:33] robbkidd commented on #80
Where on the shirt would this design be placed? I would advise against large center front.

[2016-03-11 15:33] mbarbine commented on #80
Not yet decided, but I would have to agree that this would not look good scaled on the front of a tshirt.

[2016-03-15 18:50] atkraft commented on #89
Our Conference Services group has 2 cart mounted NEC V651 displays (65").  The specs are at this link http://www.necdisplay.com/p/large-screen-displays/v651?type=support

They also have 4 smaller 42" displays mounted on flat based pedestals (I don't have the model number for those yet)

[2016-03-28 18:54] nathenharvey opened #92 "Organizers Meeting - Friday, April 1"
Let's have an organizers meeting on Friday, April 1.

Add comments and updates to this ticket that include status updates and things you'd like to discuss at the meeting.  I'll collate all the topics and send out an agenda before the meeting.

Things I'd like to discuss include:

* Ticket sales
* Sponsors
* Location
* Food
* Social activities
* Hotel room block

[2016-03-28 20:37] jsmartin commented on #92
Let's talk about lack of talk submissions and how we can get more.

[2016-03-28 21:05] gallimorej commented on #92
Wish I could make it to the meeting. Here's the registration status for various group:
General Admission: 78 out of 250
Government Admission: 1 out of 50
USPTO Admission: 0 out of 30
Sponsor Admission: 4 out of 120
Media: 0 out of 5
Organizers: 10 out of [however many we need]

[2016-03-30 22:40] atkraft commented on #89
Here's the plan that was discussed yesterday with the USPTO's Conference Services team.  The two 65" displays are network connected and will stream the conference talks.  One will be located in the south most section of the cafeteria.  The other will be outside the center of the south wall of the Madison Auditorium facing the Lower Atrium, on each side of that 65” display there are 42” displays (w

[2016-03-31 13:26] atkraft commented on #89
All of the monitors are fixed in a horizontal position.

[2016-03-31 13:33] atkraft commented on #76
On Tuesday I discussed an interest by USPTO volunteers to provide facilitators and scribes for the open spaces with Nathen and Mike.

[2016-04-01 17:58] xzilla commented on #92
I've noticed a few emails being forwarded from Bridget that have gone unanswered, we should chat about how to answer them.

[2016-04-11 13:16] gallimorej opened #93 "DODDC 2015 badge design"
[34498_Devops-DC_proof2.pdf](https://github.com/DevOpsDaysDC/planning/files/213001/34498_Devops-DC_proof2.pdf)

[2016-04-11 13:17] gregelin commented on #80
Here a proof of the badges . The relevant point is the space the names take up on the badges.

![badges_devops-dc_proof3](https://cloud.githubusercontent.com/assets/24979/14428208/21a70444-ffc6-11e5-9c94-c05e7dd41783.png)

[2016-04-11 13:20] gregelin commented on #80
Here is the badge pdf proof.

[34498_Devops-DC_proof3.pdf](https://github.com/DevOpsDaysDC/planning/files/213006/34498_Devops-DC_proof3.pdf)

[2016-04-11 13:25] gallimorej commented on #85
2015 badge design
[34498_Devops-DC_proof2.pdf](https://github.com/DevOpsDaysDC/planning/files/213012/34498_Devops-DC_proof2.pdf)

[2016-04-11 13:26] gallimorej commented on #93
Moved file to Issue #85

[2016-04-11 13:26] #93 closed

[2016-04-11 15:10] mbarbine commented on #85
teewatkins@mac.com

Thank you Terry! For helping out with this and offering your design expertise. We all appreciate it and look forward to what you come up with.  Below are the notes and some questions to consider.

One of the most important questions is when we need to have this all worked out in time to get everything agreed on and printed? Let’s set expectations on when we want to have all of

[2016-04-11 15:11] #91 closed

[2016-04-11 15:11] mbarbine commented on #80
DevOpsDays DC Logo Notes:

•	Design less rectangular so that it can potentially be used on all applications without redesign. (fitting badge dimensions)
•	Experiment with alternate color scheme(s)
•	Tweak gear size so that DC is more defined as well as maintaining dimensions for application (applying logo to badge, tshirt, slides, etc.)
•	Mock up one with title on bottom of logo
•	Mock up another

[2016-04-11 15:12] #92 closed

[2016-04-11 16:53] gallimorej commented on #85
To some of the questions posed by @mbarbine:

1. I'm a fan of having the name, company, and Twitter handle on the badge. It helps me with conversations and to remember someone's name and details -- I'm a visual learner. so seeing the information is good. And it also personalizes the badge -- which makes it a keeper.

2. Voting against speaker badges different than attendee badges. Creates a "class

[2016-04-11 20:43] clumpidy commented on #80
To hit on some of the tshirt questions:

* The most common problem with colors is a lack in contrast between the ink color and the shirt color. One other thing to keep in mind is that the price goes up for every color of ink you use because it is an additional screen. The best way to get feedback on a design is to go to www.customink.com/lab and upload the image and save the tshirt design. I can t

[2016-04-29 11:44] #73 closed

[2016-04-29 15:34] gregelin commented on #85
@mbarbine Do we have a status update on the logo?

[2016-04-29 16:23] atkraft opened #94 "Create looping content for Atrium monitors"
There will be two 42" monitors that can display looping content (agenda, sponsor logos, etc.) set up in the Atrium.  If we want, this same content can also be displayed on the 65" monitors used to livestream the keynotes during breaks and open spaces.

[2016-04-29 16:25] atkraft commented on #89
Opened issue #94 "Create looping content for Atrium monitors" to handle the content creation mentioned above on Mar 30.

[2016-04-29 16:57] atkraft opened #95 "Small meeting room at the Westin?"
During our December 16th meeting we discussed some alternative afterhours activities that might require a small meeting room at the Weston on Wednesday the 8th.  Some of the ideas included a game night, BOFs, & lean coffee (See the stickies  [https://stickies.io/boards/56719a338dd862584e91a367#1]

The open questions for the committee include:
Do we want to do this?
If so, what activities & when?
W

[2016-04-29 17:01] atkraft commented on #94
More detail from the last planning session with the USPTO Conference Services team.

The two 65" displays are network connected and will stream the conference talks. One will be located in the south most section of the cafeteria. The other will be outside the center of the south wall of the Madison Auditorium facing the Lower Atrium, on each side of that 65” display there are 42” displays (without

[2016-05-03 11:44] clumpidy commented on #80
I created a t-shirt with the center design posted above. Feel free to update and save other versions.

http://www.customink.com/lab?NDXD=false&cid=qcf0-00aj-keb9

[2016-05-10 09:50] gregelin commented on #85
General update on badges. I've spoken with our badge company, Access Events, and received a quote based on last year. Have also provided Access Events with this year's artwork.

Access events will need final list of names by 5/30 to get us name tags by 7/6.

[2016-05-10 12:02] nathenharvey commented on #80
I love the [design that @clumpidy created](http://www.customink.com/lab?NDXD=false&cid=qcf0-00aj-keb9).  My only feedback is that we should go for a design that doesn't require the background to be included.  The challenge there will be finding the right color blank t-shirt to print the design on with the color pallet we've selected.  I'd recommend turning that question over to the CustomInk desig

[2016-05-10 12:06] gregelin commented on #80
When I follow the link this email, I get Custom Ink T-shirt mockup with LAST year’s logo based on DC shape, but DevOpsDaysDC 2016 showing.

So am is the link not working for me, or are we discussing going with the DC state logo instead of the gears and capital logo?

Greg

[2016-05-10 12:06] nathenharvey commented on #80
Answering some of the other questions:

* Everyone should have identical designs for their badges.  No special colors or designs for speaker, sponsors, or organizers.
* The CustomInk design team is amazing.  I think once we've settled on the logo we give it to them with some guidance on how we want it used and see what they come up with.  The border around the logo might not be necessary and the t

[2016-05-10 12:08] nathenharvey commented on #80
@gregelin we've discussed keeping the front design the same but changing the design on the back to the new logo.  click the "rotate" button over the right shoulder of the t-shirt model.

<img width="330" alt="design_lab_-_create_your_own_t-shirts_online" src="https://cloud.githubusercontent.com/assets/16093/15145932/f5d97152-167d-11e6-97db-e3276edd48f7.png">

[2016-05-10 12:09] gregelin commented on #80
Thanks. Sorry I missed that.

My current assumption is we are trying to use the new gears and capital logo on the badges. Correct?

Greg

[2016-05-10 12:10] clumpidy commented on #85
You mean they'd get us the tags by 6/7 (instead of 7/6)?

[2016-05-10 12:13] nathenharvey commented on #80
Yes.  We should use the design on the back of the t-shirt as the baseline for the badges.

[2016-05-10 12:17] clumpidy commented on #80
This is an example of the latest design:

http://www.customink.com/designs/jjjj/qcf0-00aj-s4yh/retrieve

It doesn't require a background color, it has the gears, and the year. With the current design I don't feel like we need last year's logo on the front, but we can discuss in more detail in the 9:00 call.

[2016-05-10 12:20] gregelin commented on #80
I’m digging the black shirt. Like the logo only on the back, too.

Thinking we get same color for everyone and give volunteers a little special plastic badge/sticker to wear on the front. Or maybe hats?

[2016-05-10 12:26] nathenharvey commented on #80
OMG I love [this design](http://www.customink.com/designs/jjjj/qcf0-00aj-s4yh/retrieve)!

I'm now ambivalent about having the DC logo on the front of the shirt but if we decide to go that route, I'd recommend:

* only the logo, no words
* the same color as the background of '2016' from the back of the shirt.

Is there another blank color or two that this design will work on so that we can highligh

[2016-05-10 12:26] nathenharvey commented on #80
And I'm unavailable for today's 9AM meeting :(

[2016-05-10 12:49] clumpidy commented on #80
I've updated the design with two more shirt colors (check out the "your items" tab). Earlier there was some discussion earlier about using something like the Hanes Beefy-T for larger sizes. Here's a design on that:

http://www.customink.com/designs/devbeef/qcf0-00aj-wt44/retrieve

Right now it looks like we have 9 people registered for XXL and XXXL Mens and 18 XLs. So we can think about splitting

[2016-05-10 14:58] gregelin commented on #85
Thanks. I meant getting the tags by 6/6. I would rather have them arrive 6/6 instead of 6/7.

Sent from my iPhone

[2016-05-10 14:59] clumpidy commented on #80
From the discussion this morning we decided to go with [this design](http://www.customink.com/designs/jjjj/qcf0-00aj-s4yh/retrieve). I'm going to work up the size quantities based on ordering a total of 550 pieces divided up with the size ratios of current registrations.

I'm also going to put together an optional hoodie that we could order for organizers.

The goal is the get the order in this Fr

[2016-05-10 15:00] mbarbine commented on #85
That’s cutting it a bit close. Opt for expedited shipping if available. Not a lot of room for error here.

Respectfully,
Michael Barbine
Excella Consulting, Senior Consultant
Michael.Barbine@Excella.com<mailto:Michael.Barbine@Excella.com> / 540-671-1261 / excella.com

From: Greg Elin [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 10:58 AM
To: DevOpsDaysDC/planning <planning@noreply.

[2016-05-10 16:07] gregelin commented on #85
We can do expedited shipping.

The real challenge is the names Lee changing as we go into that last week. We go to early and we miss many names.

Sent from my iPhone

[2016-05-10 16:20] mbarbine commented on #85
Can we leave the space where the name would go and just print off address labels to stick on?

Respectfully,
Michael Barbine
Excella Consulting, Senior Consultant
Michael.Barbine@Excella.com<mailto:Michael.Barbine@Excella.com> / 540-671-1261 / excella.com

From: Greg Elin [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 12:07 PM
To: DevOpsDaysDC/planning <planning@noreply.github.com>

[2016-05-10 16:27] gregelin commented on #85
That is what we did for X number of badges last year to address last minute changes. It's just that we want to limit that number.

But this the schedule we did last year.

Sent from my iPhone

[2016-05-20 19:29] #75 closed

[2016-05-20 19:30] nathenharvey commented on #80
t-shirts have been ordered!

[2016-05-20 19:30] #80 closed

[2016-05-20 19:30] nathenharvey commented on #81
OBE at this point.  Maybe something we could workshop at the conference and plan for next year.

[2016-05-20 19:30] #81 closed

[2016-05-20 19:41] nathenharvey commented on #82
I'm calling this one OBE, too.

[2016-05-20 19:41] #82 closed

[2016-05-20 19:41] nathenharvey commented on #85
design is done.  Closing this one out.

[2016-05-20 19:41] #85 closed

[2016-05-20 19:42] nathenharvey commented on #84
also calling this one OBE.

[2016-05-20 19:42] #84 closed

[2016-05-20 19:42] nathenharvey commented on #87
Not going to do a media sponsor this year.  maybe next.

[2016-05-20 19:42] #87 closed

[2016-05-20 19:48] nathenharvey opened #96 "Register for Speaker/Sponsor dinner"
- [x] Set-up busyconf ticket and proper custom questions
- [x] email the speakers asking them to register
- [x] email the sponsors asking them to register
- [x] tell organizers to register
- [x] send list to Trademark.

[2016-05-20 19:50] nathenharvey opened #97 "Email the speakers with their discount codes"

[2016-05-20 19:50] nathenharvey opened #98 "Email sponsors about using their tix NLT 25th"
- [x] Platinum Sponsors
- [x] Gold Sponsors
- [x] Silver Sponsors

Email will include reminder to register and an invitation to register/RSVP for the speaker sponsor dinner.

[2016-05-20 19:51] nathenharvey opened #99 "Speaker Gifts"
- [x] Purchase tumblers
- [x] Chocolates?
- [x] Speaker ready kit?  water, hand sanitizer, kleneex, etc.
- [x] distribution method

[2016-05-20 19:54] nathenharvey opened #100 "Sponsor welcome message"
what do they need to do?  where can they ship?  when can they setup, etc.

[2016-05-22 00:53] nathenharvey commented on #99
Tubmlers ordered

[2016-05-22 00:56] nathenharvey commented on #99
[chocolates to order](http://www.gearhartschocolates.com/collections/assortments/products/16-piece-gift-assortment)

[2016-05-22 00:56] nathenharvey opened #101 "Budget"
Build out a budget spreadsheet so we know what's being spent where.

[2016-05-22 01:12] nathenharvey commented on #96
Ticket is set-up.  Discount code to display the ticket has been shared with @ramezjm and organizers in slack.

[2016-05-22 02:18] #101 closed

[2016-05-23 15:42] nathenharvey commented on #98
Sample email:

Thank you for becoming a Gold Sponsor of DevOpsDaysDC.  We recently sold out of all of our General Admission tickets and are reaching out today about the outstanding tickets you have left.

Our records indicate that you have only utilized 0 of your 3 tickets.

Please register your remaining people (using discount code CODE_LINKED_TO_REGISTRATION_FORM) by this Thursday, May 26.  If y

[2016-05-23 15:48] nathenharvey commented on #96
I'm working on sponsor notifications.

[2016-05-23 17:31] #98 closed

[2016-05-23 17:31] nathenharvey commented on #96
sponsors and organizers have all been asked to register.

[2016-05-25 01:25] ramezjm commented on #97
Email sent.

[2016-05-25 01:25] #97 closed

[2016-05-25 01:26] ramezjm commented on #96
Speakers have been emailed with a request and instructions to register.

[2016-05-26 13:24] nathenharvey opened #102 "Add OpsGenie as Happy Hour Sponsor"
Happy Hour Sponsors should be listed before Platinum Sponsors, after location sponsor.

![opsgenie-logo-horizontal](https://cloud.githubusercontent.com/assets/16093/15575984/8a5f4656-2323-11e6-8d0c-9835bbb9dedd.png)

[2016-05-26 13:52] nathenharvey opened #103 "Add AOL as Happy Hour Sponsor"
Logo attached.  See email thread for .ai version.

![aol black](https://cloud.githubusercontent.com/assets/16093/15576769/76886096-2327-11e6-9022-414cdac82e32.png)

[2016-05-26 14:16] markcornick commented on #103
https://github.com/devopsdays/devopsdays-web/pull/468

[2016-05-26 14:16] #103 closed

[2016-05-26 14:17] markcornick commented on #102
https://github.com/devopsdays/devopsdays-web/pull/468

[2016-05-26 14:17] #102 closed

[2016-05-28 02:17] nathenharvey commented on #100
Sent - https://manage.busyconf.com/events/devopsdaysdc2016/messages/574893eda9698fb6f70000d2/edit

[2016-05-28 02:17] #100 closed

[2016-05-28 02:18] nathenharvey commented on #96
33 people registered as of 27 May.

[2016-05-28 02:40] nathenharvey commented on #94
We might consider including a word cloud of the companies attending with size relative to the number of people they're sending.  It would look something like this given current attendance.

![companies](https://cloud.githubusercontent.com/assets/16093/15624665/f722f420-245b-11e6-939f-70fb7213ff46.png)

[2016-05-28 02:41] nathenharvey commented on #79
Thoughts?  do we really need these or do you think we'll have sufficient coverage from volunteers and organizers on the ground.  Slack + push notifications may be enough.

[2016-05-28 02:42] nathenharvey opened #104 "Stickers"
Order stickers

[2016-05-28 02:43] nathenharvey commented on #104
Order placed with sticker mule.

[2016-05-28 03:40] nathenharvey commented on #104
proof approved

![752916](https://cloud.githubusercontent.com/assets/16093/15624936/668b7c4e-2464-11e6-9fcd-8e5361131c97.png)

[2016-05-30 02:29] radiocats commented on #79
I think we are ok without walkie talkies.
Mike

    On Friday, May 27, 2016 10:41 PM, Nathen Harvey <notifications@github.com> wrote:

 Thoughts? do we really need these or do you think we'll have sufficient coverage from volunteers and organizers on the ground. Slack + push notifications may be enough.—
You are receiving this because you are subscribed to this thread.
Reply to this email directly

[2016-05-31 13:54] atkraft commented on #94
I like the idea.  Is there an easy way to keep the multi-word organizations (Justice Department, Sauce Labs, etc) from being split?  If not, no worries; but it does make the one word organizations more recognizable than the multi-word orgs.

[2016-05-31 14:04] nathenharvey commented on #96
Need to remind folks to register and get a list of who's missing.

[2016-05-31 14:05] #95 closed

[2016-05-31 14:07] nathenharvey commented on #94
What should be included:

* Sponsor thank you slides
* Daily schedule
* Map of the venue
* Happy Hour information
* Companies attending (without breaking up multi-word company names)

[2016-05-31 14:10] nathenharvey commented on #79
Let's go with Slack and use the green room as a "show office".

Robert Treat will print out contact cards.

[2016-05-31 14:10] #79 closed

[2016-05-31 14:11] nathenharvey opened #105 "Contact Cards for Organizers"
Create and print out contact cards so we can txt / call each other as necessary.

[2016-05-31 14:12] #77 closed

[2016-05-31 14:16] nathenharvey opened #106 "Sort out USPTO tickets"
- [x] Free as part of sponsorship
- [x] Purchases
- [x] Volunteers

[2016-05-31 14:21] nathenharvey opened #107 "Finalize Volunteer List"
Let's get the list finalized and notices out to all volunteers.

[2016-05-31 14:27] nathenharvey opened #108 "Sponsor Updates"
* When can they set-up on Tuesday?
  * 3PM - 5PM
* Where is their table (Platinum and Gold only)?
* When is their one-minute pitch (Platinum only)?
  * Remind the sponsors that one-minute means one minute.

[2016-05-31 14:27] nathenharvey opened #109 "Finalize food"

[2016-05-31 14:30] nathenharvey opened #110 "one minute pitch deck"

[2016-05-31 14:33] nathenharvey opened #111 "Chimes?"
Have you been able to source chimes?

[2016-05-31 14:39] nathenharvey opened #112 "Happy hour slide deck"

[2016-05-31 14:40] nathenharvey opened #113 "Open Space Supplies"
Nathen will make an Amazon order.

[2016-05-31 14:48] mbarbine commented on #112
@nathenharvey - Would you like me to draft this up and give it to you for a final spin?

[2016-05-31 14:49] mbarbine commented on #111
https://www.youtube.com/watch?v=sTHI6CsLwxk

[2016-05-31 14:49] mbarbine commented on #105
Michael Barbine / @BigNerdLoLz / 540-671-1261 / michael.barbine@excella.com

[2016-05-31 14:56] nathenharvey commented on #112
yes, that'd be awesome.  We need to feature our two happy hour sponsors, maybe a schedule for the evening, a reminder about the Thursday start time, and, of course, the DevOpsDays DC logo.

I'll reassign this to you @mbarbine

[2016-05-31 14:59] mbarbine commented on #99
![speaker-ready-item-list-part2](https://cloud.githubusercontent.com/assets/3211492/15679128/bc5dd448-271e-11e6-97ad-9ae3c93b4573.png)
![speaker-ready-item-list-part3](https://cloud.githubusercontent.com/assets/3211492/15679127/bc571f04-271e-11e6-8f9e-585e1ff0fac1.png)
![speaker-ready-item-list-1](https://cloud.githubusercontent.com/assets/3211492/15679126/bc482832-271e-11e6-8d42-b5d7e2282545.png)

[2016-05-31 15:00] nathenharvey commented on #99
@mbarbine is that your order from last year?

[2016-05-31 15:01] mbarbine commented on #99
Anything we want to add to this? The picture/comments above is the order I placed last year and I will get the bags put together, we can put the chocolates in on Tuesday evening.

Anything we should add?

The quantities are not updated, but # of speakers + # of organizers is what we did last year. I can figure that out.

[2016-05-31 15:01] mbarbine commented on #99
![speaker-ready-item-list-part3](https://cloud.githubusercontent.com/assets/3211492/15679212/07ec37a6-271f-11e6-90c0-d149191a9692.png)

[2016-05-31 15:01] mbarbine commented on #99
do we want to have these for volunteers as well?

[2016-05-31 15:06] mbarbine commented on #99
@nathenharvey distribution method should be done at registration since some speakers may not be at the dinner. Since I won't be around on Tuesday. I will drop them off at the Westin/Trademark on Monday.

[2016-05-31 15:08] nathenharvey commented on #99
I don't think we need the easels.  Can you add some [painter's tape](http://www.amazon.com/Duck-240180-Release-Painters-Inches/dp/B0054P49YE/ref=sr_1_2?s=industrial&ie=UTF8&qid=1464707093&sr=1-2)?

40 bags should be a sufficient number.

@mbarbine let me know if you order or if you'd like me to.  I'm happy to have it shipped to you but paid for directly from our account or can just reimburse you f

[2016-05-31 15:12] nathenharvey commented on #111
[Here are some from Amazon](http://www.amazon.com/Woodstock-Percussion-ZENERGY3-Zenergy-Instrument/dp/B0000775FZ/ref=sr_1_2?s=musical-instruments&ie=UTF8&qid=1464707530&sr=1-2&keywords=chimes)

[2016-05-31 17:02] nathenharvey opened #114 "sponsor slide deck"
Need a deck that includes each sponsor and their twitter handles.

[2016-05-31 17:07] nathenharvey commented on #114
I've started a deck here - https://github.com/DevOpsDaysDC/planning/tree/master/2016-slides

@markcornick @jasonNetuitive there are a couple sponsors that are missing twitter handles and a bunch that we could use better logos for.  Do you have any of these readily available?  Mind updating the pptx?

Need better logos for:
* Pivotal
* CloudPassage
* CaptialOne
* eGlobalTech
* SolarWinds
* CSRA
* T

[2016-05-31 22:57] radiocats commented on #111
I was hesitant about the amazon chimes. I like these but wasn't crazy about the price:
Ross Dinner Chimes

|
|
|
|   |    |

   |

  |
|
|   |
Ross Dinner Chimes
 Ross Dinner Chimes work well for calling guests to dinner or teaching young musicians. Ross dinner chimes are t...  |   |

  |

  |

    On Tuesday, May 31, 2016 11:12 AM, Nathen Harvey <notifications@github.com> wrote:

 Here are some f

[2016-06-01 00:23] markcornick commented on #114
I don't have anything on hand beyond what's in the devopsdays-web repo. As you've seen, some of those are 100x100px squares carried over from the old webby repo, and the newer ones are 200x200px. Neither is really ideal.

[2016-06-01 00:32] mbarbine commented on #99
Ordered. I sent you @nathenharvey the total... paypal works. I didn't see your comment until just now. Everything should be here tomorrow.

[2016-06-01 03:13] mbarbine commented on #107
where is this list located?

[2016-06-01 14:04] radiocats commented on #107
The initial list is here:  https://docs.google.com/document/d/1rPk7PQFOuqE13zz7iSb3AZjKgjaK8nvRNjpdIaJdJ8o/edit?ts=573bbc91#
Michael, can we please put Alicia down for registration again?  She did a fantastic job last year.

    On Tuesday, May 31, 2016 11:13 PM, Michael Barbine <notifications@github.com> wrote:

 where is this list located? —
You are receiving this because you were assigned.
Repl

[2016-06-02 03:28] nathenharvey commented on #114
OK, I've reached out to all the sponsors giving them a chance to review and send back updated logos.

[2016-06-02 03:31] jasonNetuitive commented on #114
Thanks man.  I can just pull the logos from google if we don't get responses.  That was basically my plan with this task.

Sent from my iPhone

On Jun 1, 2016, at 11:28 PM, Nathen Harvey <notifications@github.com<mailto:notifications@github.com>> wrote:

OK, I've reached out to all the sponsors giving them a chance to review and send back updated logos.

-
You are receiving this because you were a

[2016-06-02 04:23] nathenharvey opened #115 "Pay the maseuse"
we will have one at the happy hour event on Wednesday.

[2016-06-02 04:24] nathenharvey opened #116 "reimburse Michael Barbine for Amazon order"

[2016-06-02 04:46] #116 closed

[2016-06-02 04:49] nathenharvey commented on #113
@mbarbine placed the order before I got to it.  Thanks!

[2016-06-02 04:49] #113 closed

[2016-06-02 04:50] nathenharvey commented on #112
@mbarbine check out the [slide deck here](https://github.com/DevOpsDaysDC/planning/tree/master/2016-slides).  It has all the sponsors so you can just pull the two happy hour sponsors out.

[2016-06-02 05:12] nathenharvey commented on #110
https://github.com/DevOpsDaysDC/planning/blob/master/2016-slides/sponsor_pitches.pptx

[2016-06-02 05:12] #110 closed

[2016-06-02 05:39] nathenharvey commented on #104
stickers have arrived!

[2016-06-02 05:39] #104 closed

[2016-06-02 05:40] nathenharvey commented on #96
reminders sent to everyone.  We are now at 42 registrants.

[2016-06-02 05:56] nathenharvey commented on #76
I'm getting cards printed up for the spaces and the facilitators.

[2016-06-02 05:56] #76 closed

[2016-06-03 01:13] nathenharvey opened #117 "Pre-event email to attendees"
Hi {{ first_name }}!

DevOpsDays DC is next week!  We are so happy that you'll be part of our sold out DevOpsDays event.

**Logistics**

* June 8-9, 2016
* US Patent and Trademark Office (USPTO), Madison Building, 600 Dulany St., Alexandria, VA  22314
* The USPTO is a non-smoking campus
* [Directions to the Madison Building](http://www.uspto.gov/page/directions-madison-buildings-east-west-600-dula

[2016-06-03 01:52] nathenharvey opened #118 "Add happy hour details to the schedule."

[2016-06-03 02:21] nathenharvey opened #119 "Day before email"
Hi {{ first_name }}!

DevOpsDays DC starts tomorrow!  We are so happy that you'll be part of our sold out DevOpsDays event.

Registration opens at 8:00AM.  The conference kicks off at 9:00AM.  Coffee and a light breakfast will be served during the registration hours.

**Location**

* USPTO, Madison Building, 600 Dulany St., Alexandria, VA  22314
* [Directions to the Madison Building](http://www.us

[2016-06-03 02:28] atkraft commented on #119
deleted "inaugural" in the first line

[2016-06-03 02:32] atkraft commented on #119
Could add 2016 or second where "inaugural" was if that sounds best to you; or just leave as is.

[2016-06-03 02:38] nathenharvey commented on #119
How about this:

[2016-06-03 02:41] atkraft commented on #119
Sounds good

From: Nathen Harvey [mailto:notifications@github.com]
Sent: Thursday, June 02, 2016 10:39 PM
To: DevOpsDaysDC/planning <planning@noreply.github.com>
Cc: Kraft, Alan <Alan.Kraft@USPTO.GOV>; Comment <comment@noreply.github.com>
Subject: Re: [DevOpsDaysDC/planning] Day before email (#119)

How about this:

We are so happy that you'll be part of our sold out DevOpsDays event.

—
You are r

[2016-06-03 03:10] nathenharvey opened #120 "twitter lists"
* Speakers
* Sponsors
* Attendees

[2016-06-03 03:29] nathenharvey commented on #120
* [Attendees](https://twitter.com/DevOpsDaysDC/lists/doddc-2016-attendees/members)
* [Speakers](https://twitter.com/DevOpsDaysDC/lists/doddc-2016-speakers/members)
* [Sponsors](https://twitter.com/DevOpsDaysDC/lists/doddc-2016-sponsors/members)

[2016-06-03 03:29] #120 closed

[2016-06-03 03:36] nathenharvey opened #121 "release waitlist tickets?"

[2016-06-03 03:40] nathenharvey commented on #118
https://devopsdaysdc2016.busyconf.com/activities/5736470d49bbcd897a000144

[2016-06-03 03:40] #118 closed

[2016-06-03 03:51] nathenharvey commented on #121
We are currently looking at 519 registrants.  We will not open up additional space for folks on the waiting list.

[2016-06-03 03:51] #121 closed

[2016-06-03 04:19] nathenharvey opened #122 "Email to wait listed people"
Hello!

I am sorry to inform you that next week's [DevOpsDays DC](http://www.devopsdays.org/events/2016-washington-dc/welcome/) is completely sold out and we will not be able to open any additional tickets.

I know this is disappointing and really wish we had capacity for everyone to attend.

We will be streaming the keynotes and ignite talks live to the DevOpsDays DC website on Wednesday and Thur

[2016-06-03 04:21] #109 closed

[2016-06-03 04:21] #107 closed

[2016-06-03 04:21] #99 closed

[2016-06-03 04:22] nathenharvey opened #123 "Create attendee survey to send out at end of conference"
similar (or the same as) last year's

[2016-06-03 12:26] atkraft commented on #122
Looks good; suggesting the other DevOpsDays is a good idea.

[2016-06-03 13:11] atkraft commented on #117
Should we mention Metro's Continuous Single Tracking on the Orange & Silver Lines from Ballston to East Falls Church?  Most locals are well aware of this, there may be a few out of town folks who have not heard.

http://www.wmata.com/rider_tools/metro_service_status/advisories.cfm?AID=5578

[2016-06-03 13:46] nathenharvey commented on #117
good call @atkraft!  I've added another line to the message:

* Please remember that [Metro Rail is running trains on the Orange and Silver lines along a single track between East Falls Church and Ballston](http://www.wmata.com/rider_tools/metro_service_status/advisories.cfm?AID=5578), plan accordingly.

[2016-06-03 13:48] nathenharvey commented on #111
ordered for delivery to my attention at the Westin on Tuesday.

[2016-06-03 13:48] #111 closed

[2016-06-03 14:57] xzilla commented on #122
+1 LGTM

[2016-06-03 15:47] nathenharvey commented on #122
sent

[2016-06-03 15:47] #122 closed

[2016-06-03 16:05] nathenharvey commented on #117
sent!

[2016-06-03 16:05] #117 closed

[2016-06-03 19:14] nathenharvey commented on #108
@jasonNetuitive I think this is complete, right?

[2016-06-03 19:15] jasonNetuitive commented on #108
yes, I sent out a note this morning to all the sponsors

[2016-06-03 19:15] #108 closed

[2016-06-03 23:48] atkraft commented on #119
The links for "DevOpsDays DC Etherpad" and "Etherpad for notes" are not working.

[2016-06-04 23:49] nathenharvey commented on #119
thanks, e.devopsdaysdc.org should be working again now, I launched an new etherpad site for us.

[2016-06-04 23:50] #115 closed

[2016-06-06 16:44] nathenharvey commented on #114
got a bunch of logo updates, grabbed some others.  Marking this as closed.

[2016-06-06 16:44] #114 closed

[2016-06-06 16:47] #96 closed

[2016-06-06 16:48] nathenharvey commented on #78
I created a mapping of spaces-to-playing cards.  Should be an easy, fun way to identify the etherpads and the various spaces.

https://gist.github.com/nathenharvey/5a2a56e3111570f25ac373acb01ac011

[2016-06-07 01:54] nathenharvey commented on #106
These have been loaded into busyconf.  I think we may need to sort out payment.

[2016-06-07 01:54] #106 closed

[2016-06-07 01:54] nathenharvey commented on #112
@mbarbine any progress on this?

[2016-06-07 01:55] mbarbine commented on #112
Im working on it. Ill have over soon.

Respectfully,
Michael Barbine
Excella Consulting,  Senior Consultant
michael.barbine@excella.com / 540-671-1261 / excella.com

On Mon, Jun 6, 2016 at 9:54 PM -0400, "Nathen Harvey" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mbarbine<https://github.com/mbarbine> any progress on this?

-
You are receiving this because you were mentione

[2016-06-07 03:25] nathenharvey commented on #78
I've started some generic pads such as:

* Reading List
* We are Hiring
* Looking for Work
* Social Media
* Feedback on DevOpsDays DC

[2016-06-07 06:14] nathenharvey commented on #94
https://github.com/DevOpsDaysDC/planning/blob/master/2016-slides/rotating_slides.pptx

[2016-06-07 06:14] #94 closed

[2016-06-07 06:15] #89 closed

[2016-06-07 14:01] atkraft commented on #94
Looks great; a couple of excellent ideas to carry forward into future events; credit for the logo designer, staff & volunteer T-shirt colors, and splitting the schedules into AM  & PM (more digestible than a whole day).

[2016-06-07 16:41] nathenharvey commented on #119
Delivered to 521 recipients

[2016-06-07 16:41] #119 closed

[2016-06-08 04:14] #78 closed

[2016-08-16 17:30] #105 closed

[2016-08-16 17:30] #112 closed

[2016-08-16 17:30] #123 closed